pkgbase = mutter-muscst
	pkgdesc = Window manager and compositor for GNOME with screencast window buffer exclusion & muscst CLI controller (WIP)
	pkgver = 50.2
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = sysprof
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = colord
	depends = dconf
	depends = egl-wayland
	depends = fontconfig
	depends = fribidi
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = glycin
	depends = gnome-desktop-4
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = harfbuzz
	depends = iio-sensor-proxy
	depends = lcms2
	depends = libcanberra
	depends = libcolord
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libgcc
	depends = libgirepository
	depends = libglvnd
	depends = libgudev
	depends = libinput
	depends = libpipewire
	depends = libsysprof-capture
	depends = libwacom
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = pango
	depends = pipewire
	depends = pixman
	depends = python
	depends = python-argcomplete
	depends = python-dbus
	depends = python-gobject
	depends = startup-notification
	depends = systemd-libs
	depends = wayland
	depends = xorg-xwayland
	provides = mutter=50.2
	provides = muscst=50.2
	provides = libmutter-18.so
	conflicts = mutter
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#tag=50.2
	source = patches/0001-screencast-window-exclusion.patch
	source = bin/muscst
	source = config/state.json.example
	sha256sums = SKIP
	sha256sums = f3f20e466e5435895b569e6a1eda2f4300fbf68e859e48703f4874a6d316f16d
	sha256sums = 5d571159bf2b0f91e6abe461c823d82008b78fc5144cb327e9e2db961b478149
	sha256sums = 78850cad3298011aadb7c50416d4fd88182790442e6f380b8c758423ae70bf3d

pkgname = mutter-muscst
